<h1><!-- TODO: Replace with title --></h1>
<p><!-- TODO: Replace with intro --></p>
<div class="container">
    <div class="row">
      <div class="col">
        <img src="/images/thumbnail.png" alt="thumbnail">
      </div>
      <div class="col">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Areas</th>
                <th scope="col">Information</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Expertise</td>
                <td><!-- TODO: Replace with expertise --></td>
              </tr>
              <tr>
                <td>Goals</td>
                <td><!-- TODO: Replace with goals --></td>
              </tr>
              <tr>
                <td>Skills</td>
                <td><!-- TODO: Replace with skills --></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
