<h1>CMST 488 Exercise 2</h1>
<p class="lead">Objective: Express.js website with pages providing content from JSON and fields.</p>
<a class="btn btn-lg btn-primary" href="../resources" role="button">View Training Resources &raquo;</a>